@import './base/base';
@import './base/settings';

//components

@import './components/AppRouter';
@import './components/DrawerScreen';
@import './components/NavbarScreen';
@import './components/AnimeScreen';
@import './components/AnimeCard';
@import './components/FavoritesAnime';
@import './components/NotFoundScreen';
@import './components/DetailAnimeScreen';
@import './components/SearchWindow';
@import './components/FavoriteCard';