// colors

$div: rgba(255, 255, 255, 0.12);
$background: #121212;
$buttons: #fff;
$hover: rgba(255, 255, 255, 0.08);
$title: #fff;
$text: rgba(255, 255, 255, 0.7);
$textDisabled: rgba(255, 255, 255, 0.5);
$primaryColor: #5a189a;